<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <title>Data Quality Formula</title>
    <style type="text/css">
      mark.blue {
        font-size:12px;
        color:#0000A0;
        background: none;
      }
      mark.warning {
        background-color: #ffc107; /* set the background color to a shade of yellow */
        color: #dc3545; /* set the text color to red */
        font-weight: bold; /* make the text bold */
      }
    </style>
  </head>
  <body>

    <div class="container my-5">
      <h1 class="text-center">Data Quality Formula</h1>
      <p class="text-center"> <mark class="warning">The sum of specified weight should be 100. Please specify the right weight number! </mark></p>
      <p >Column name: <strong>{{col}}</strong> </p>
      <form action="./add/" method="post">
      {% csrf_token %}

      <table class="table table-bordered">
        <tbody>
          <!--<tr>
            <td>Total Completeness:<br/><mark class="blue">Please  specify the % of  empty/null <br/>values  in  the entire  dataset. </mark></td>
            <td colspan="3" class="table-active">
              <div class="d-flex">
                <div class="p-2 ">
                  <a> Total completeness  % ></a></div>
                <div class="p-2">
                  <input type="number" class="form-control" name="t_c" id="t_c" />
                </div>
              </div>
            </td>

            <td>
             <div class="weight">
                <select class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" name="t_c_w">
                <option disabled selected value style="display: none;">Weight</option>
                {% for c in choices %}
                <option value ={{c}}>{{ c }}</option>
                {% endfor %}
                </select>
              </div>
            </td>
          </tr>-->
          <tr>
            <td>Column Completeness:<mark class="blue">Please  specify the %  of  empty/null  values  in  specific  column.</mark></td>
            <td colspan="3" class="table-active">
              <div class="d-flex">
                <!--<div class="p-2 ">
                  <select class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" name="c_column_name">
                <option disabled selected value style="display: none;">Select column..</option>
                  <option value ="undefine">undefined</option>
                </select>
                </div>-->
                <div class="p-2 ">
                  <a> Column completeness  % ></a>
                </div>
                <div class="p-2">
                  <input type="number" class="form-control" name="c_c" id="c_c" />
                </div>
              </div>
            </td>
            
            <td>
              <div class="weight">
                <select class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" name="c_c_w">
                <option disabled selected value style="display: none;">Weight</option>
                {% for c in choices %}
                <option value ={{c}}>{{ c }}</option>
                {% endfor %}
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td>Freshness:<br/><mark class="blue">Please  specify the typical time period the column maintain validity <br/>  </mark></td>
            <td colspan="3" class="table-active">
              <div class="d-flex">
                <div class="p-2 ">
                  <a> Volatility: </a>
                </div>
                <div class="p-2  col-2 ">
                  <input class="form-control" type="num" id="v_y" name = "v_y" >
                  <a >Year</a>
                </div>
                <div class="p-2 col-2">
                  <input class="form-control" type="num" id="v_m" name = "v_m" >
                   <a >Month</a>
                </div>
                <div class="p-2 col-2">
                  <input class="form-control" type="num" id="v_d" name = "v_d" >
                   <a >Day</a>
                </div>
                <div class="p-2 col-2">
                  <input class="form-control" type="num" id="v_h" name = "v_h" >
                   <a >Hour</a>
                </div>
              </div>
              <div class="d-flex">
                <div class="p-2 ">
                  <a> Freshness  % > </a>
                </div>
                <div class="p-2">
                  <input type="number" id="f_p" name = "f_p">
                </div>
              </div>
            </td>
            <td>
              <div class="weight">
                <select class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" name="f_w">
                <option disabled selected value style="display: none;">Weight</option>
                {% for c in choices %}
                <option value ={{c}}>{{ c }}</option>
                {% endfor %}
                </select>
              </div>
            </td>
          </tr>
          <tr>
            <td>Accuracy:<br/><mark class="blue">Please  specify the accuracy  condition of  <br/>this column for which the values  will  be  considered as  accurate  or  not accurate. </mark></td>
            <td colspan="3" class="table-active">
              <div class="d-flex">
                 <!--<div class="p-2 ">
                 <select class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" name="a_column_name">
                <option disabled selected value style="display: none;">Select column..</option>
                  <option value ="undefine">undefined</option>
                </select>
                </div>-->
                <div class="p-2 ">
                  <p>{{column}}</p>
                </div>
                <div class="p-2 ">
                  <select class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" name="a_condition">
                  <option disabled selected value style="display: none;">Select condition..</option>
                  <option value ="contain">Contain</option>
                  <option value ="n_contain">not Contain</option>
                  <option value ="exact">is Exactly</option>
                  <option value ="less">Less Than</option>
                  <option value ="higher">Higher Than</option>
                  <option value ="later">Later Than</option>
                  <option value ="before">Before</option>
                </select>
                </div>
                <div class="p-2">
                  <input type="text" id="a_text" name = "a_text">
                </div>
                <div class="p-1">
                  <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalLong">Input Format</button>
                  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title font-weight-bold" id="exampleModalLongTitle">Input Format</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p class="small"><strong><kbd>less than</kbd> and <kbd>higher than</kbd> button</strong></p> 
                          <p class="small">---&nbsp;the input box should be inputed a <code>number</code></p>
                          <br/>
                          <br/>
                          <p class="small"><strong><kbd>contain</kbd> and <kbd>no contain</kbd> button </strong></p> 
                          <p class="small">---&nbsp;the input box could be inputted any word. </p>
                          <!--<p class="small" style="border: 1px solid black; padding: 5px;">if you want to input multiple word, you could use <code>,,</code> to distingusih each other.</p>-->
                          <p class="small" >---&nbsp;if you want to input <mark class="bg-warning">multiple word</mark>, you could use <code>,,</code> to distingusih each other.</p>
                          <p class="small" >---&nbsp;if you want to input a <mark class="bg-warning">type of data</mark>, you can input <code>NUM</code>&nbsp;(any number) or <code>CHAR</code>&nbsp;(any char). </p>
                          <p class="small" style="border: 1px solid green; padding: 5px;" >eg.<mark class="text-success font-weight-bold"> NUM &nbsp,,&nbsp&nbsp/&nbsp&nbsp,,&nbspCHAR </mark>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the column value should contain at least one number, at least one char and "/" symbol </p>
                          <br/>
                          <br/>
                          <p class="small"><strong><kbd>is exactly</kbd>  button</strong></p> 
                          <p class="small">---&nbsp;the input box could be inputted <code>any word</code>.</p>
                          <br/>
                          <br/>
                          <p class="small"><strong><kbd>later than</kbd> and <kbd>before</kbd> button </strong></p> 
                          <p class="small">---&nbsp;the input box should satisfy the date format <code>(YY/MM/DD)</code> </p>
                          <p class="small" style="border: 1px solid green; padding: 5px;">eg.<mark class="text-success font-weight-bold"> 2020 / 06 / 10 </mark></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <div class="p-2 ">
                  <a> Accuracy  % > </a>
                </div>
                <div class="p-2">
                  <input type="number" id="a_p" name = "a_p">
                </div>
              </div>
            </td>
            <td>
              <div class="weight">
                <select class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" name="a_w">
                <option disabled selected value style="display: none;">Weight</option>
                {% for c in choices %}
                <option value ={{c}}>{{ c }}</option>
                {% endfor %}
                </select>
              </div>
            </td>
          </tr>
           <tr>
            <td>Uniqueness:<br/><mark class="blue">Please  specify how many  unique  values  is acceptable for you.</mark></td>
             <td colspan="3" class="table-active">
              <div class="d-flex">
                <!--<div class="p-2 ">
                  <select class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" name="u_column_name">
                <option disabled selected value style="display: none;">Select column..</option>
                  <option value ="undefine">undefined</option>
                </select>
                </div>-->
                <div class="p-2 ">
                  <p>{{column}}</p>
                </div>
                <div class="p-2 ">
                  <select class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" name="u_condition">
                  <option disabled selected value style="display: none;">Select condition..</option>
                  <option value ="bigger">more than</option>
                  <option value ="smaller">less than</option>
                  <option value ="equal">equal</option>
                </select>
                </div>
                <div class="p-2">
                  <input type="number" id="u_text" name = "u_text">
                </div>
              </div>
            </td>
            <td>
              <div class="weight">
                <select class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" name="u_w">
                <option disabled selected value style="display: none;">Weight</option>
                {% for c in choices %}
                <option value ={{c}}>{{ c }}</option>
                {% endfor %}
                </select>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <button class="btn btn-primary" type="submit">Checkout</button>
      </div>
    </div>
    </form>
    <script>
      $(document).ready(function(){
        $('#myModal').modal('show');
      });
    </script>
    {% if messages %}
    <script>
      {% for msg in messages %}
         alert('{{ msg.message }}');
      {% endfor %}
    </script>
  {% endif %}
  </body>
</html>